<%= form_for @category  do |f| %>
<%= f.hidden_field :id %>
	<div class="form-control">
		<p> </p>
	</div>

	

	<tr><td colspan="2">
		<%= f.submit %>
	</td></tr>
</table>
<% end %>
<p>
	<%= link_to "Go back", controller: 'categories', action: 'show' , id: @post.category_id %>

</p>

</div>
</div>